html > body .art.input[type=range].id-tint {
-art-fill-color: "[{0: hsb(301, 56, 62), 0.5: hsb(120, 5, 53), 1: hsb(120, 49, 57)}, 0]"; }

.art.button {
zoom: 1;
display: inline;
display: -moz-inline-box;
display: inline-block;
-art-*display: inline;
cursor: default;
-art-stroke-color: hsb(0, 5, 30, 0.5);
-art-stroke-width: 1px;
-art-fill-color: "[{0: hsb(202, 10.5, 98), 0.076: hsb(202, 10.5, 98), 0.0761: hsb(202, 21, 97), 1: hsb(202, 35, 79)}]";
-art-stroke-width: 1px;
-art-stroke-color: "[hsb(202, 29.75, 72), hsb(202, 40.25, 58)]"; }
.art.button.is-active {
  -art-fill-color: "[{0: hsb(202, 35, 79), 0.934: hsb(202, 21, 96.04), 0.935: hsb(202, 10.5, 98), 1: hsb(202, 10.5, 98)}]";
  -art-stroke-width: 1px;
  -art-stroke-color: "[hsb(202, 40.25, 58), hsb(202, 29.75, 72)]"; }
.art.button.is-disabled {
  opacity: 0.5; }
.art.button .container {
  color: #1c4257; }
.art.button.grey, .art.button.is-disabled {
  -art-fill-color: "[{0: hsb(0, 0, 98), 0.076: hsb(0, 0, 98), 0.0761: hsb(0, 0, 97), 1: hsb(0, 0, 79)}]";
  -art-stroke-width: 1px;
  -art-stroke-color: "[hsb(0, 0, 72), hsb(0, 0, 58)]"; }
.art.button.grey .container, .art.button.is-disabled .container {
    color: #4f4f4f; }
.art.button.grey.is-active {
  -art-fill-color: "[{0: hsb(0, 0, 79), 0.934: hsb(0, 0, 94.08), 0.935: hsb(0, 0, 96), 1: hsb(0, 0, 96)}]";
  -art-stroke-width: 1px;
  -art-stroke-color: "[hsb(0, 0, 58), hsb(0, 0, 72)]"; }

.art.button.is-icon {
width: 16px;
height: 16px; }

.art.button.is-text {
letter-spacing: 0.02em;
width: auto;
-art-corner-radius-top-left: 3px;
-art-corner-radius-top-right: 3px;
-art-corner-radius-bottom-left: 3px;
-art-corner-radius-bottom-right: 3px; }
.art.button.is-text .container {
  height: 22px;
  line-height: 23px;
  font-family: Helvetica;
  font-size: 13px;
  font-weight: bold;
  text-shadow: 0 1px 0 #e5e5ee;
  -art-filter: dropshadow(color=#e5e5ee, offX=0, offY=1px); }

html > body .art.id-buttons .art.button {
width: 62px;
text-align: center;
-art-corner-radius-top-right: 0px;
-art-corner-radius-bottom-right: 0px;
-art-corner-radius-top-left: 0px;
margin-right: -1px;
-art-corner-radius-bottom-left: 0px; }
html > body .art.id-buttons .art.button.last {
  margin-right: 0;
  -art-corner-radius-top-right: 3px;
  -art-corner-radius-bottom-right: 3px; }
html > body .art.id-buttons .art.button.first {
  -art-corner-radius-top-left: 3px;
  -art-corner-radius-bottom-left: 3px; }

.art.form.two-column .art.label, .art.form.two-column .art.input[type=range], .art.form.two-column .art.input[type=text], .art.form.two-column .art.select, .art.form.two-column .art.textarea {
float: left; }
.art.form.two-column .art.label {
float: left;
clear: both;
text-align: right;
margin-right: 16px;
width: 85px;
color: #333333; }
.art.form.two-column .art.label .container {
  line-height: 22px;
  font-size: 14px;
  font-weight: bold; }
.art.form.two-column .art.label.inline {
  float: none;
  clear: none;
  text-align: left;
  zoom: 1;
  display: inline;
  display: -moz-inline-box;
  display: inline-block;
  -art-*display: inline;
  vertical-align: middle;
  margin-right: 0;
  margin-left: 5px;
  width: auto; }
.art.form.two-column .art.label.inline .container {
    line-height: 16px; }

.art.menu[type=context] {
-art-fill-color: hsb(0, 0, 96);
-art-shadow-blur: 10;
-art-shadow-color: hsb(0, 0, 10);
z-index: 500;
-art-corner-radius-top-left: 2px;
-art-corner-radius-top-right: 2px;
-art-corner-radius-bottom-left: 2px;
-art-corner-radius-bottom-right: 2px;
padding-top: 5px;
padding-bottom: 5px; }
.art.menu[type=context] .container {
  font: bold 14px/22px Arial;
  padding: 0 11px; }
.art.menu[type=context] .art.option.is-chosen {
  background: #5f83b9; }
.art.menu[type=context] .art.option.is-chosen .container {
    color: white;
    text-shadow: 0 -1px 0 #374683;
    -art-filter: dropshadow(color=#374683, offX=0, offY=-1px); }

.art.scrollbar {
height: 17px;
width: 17px;
position: absolute;
-art-fill-color: "[[hsb(202, 31, 82), hsb(202, 25, 97)], 180]"; }
.art.scrollbar .art.button {
  height: 17px;
  -art-stroke-width: 0;
  width: 17px;
  -art-glyph-scale: 0.8;
  -art-glyph-top: 3;
  -art-glyph-left: 5;
  -art-glyph-color: hsb(202, 61, 45);
  -art-fill-color: false; }
.art.scrollbar .art.track {
  -art-corner-radius-top-left: 7;
  -art-corner-radius-top-right: 7;
  -art-corner-radius-bottom-left: 7;
  -art-corner-radius-bottom-right: 7; }
.art.scrollbar .art.thumb {
  -art-fill-color: "[[hsb(0, 0, 96), hsb(0, 0, 92)], 180]";
  -art-corner-radius-top-left: 5;
  -art-corner-radius-top-right: 5;
  -art-corner-radius-bottom-left: 5;
  -art-corner-radius-bottom-right: 5;
  -art-shadow-offset-y: 1px;
  -art-shadow-blur: 1px;
  -art-shadow-color: hsb(0, 0, 0); }
.art.scrollbar.is-horizontal .art.track {
  height: 17px;
  margin-left: 17px; }
.art.scrollbar.is-vertical {
  right: 0;
  top: 0; }
.art.scrollbar.is-vertical .art.button {
    height: 14px;
    z-index: 100; }
html > body .art.scrollbar.is-vertical .art.button.id-incrementor {
      -art-glyph: ART.Glyphs.triangleUp;
      top: 0; }
html > body .art.scrollbar.is-vertical .art.button.id-decrementor {
      -art-glyph: ART.Glyphs.triangleDown;
      bottom: 0; }
.art.scrollbar.is-vertical .art.track {
    z-index: 105;
    width: 17px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 17px;
    -art-fill-color: "[[hsb(0, 0, 69), hsb(0, 0, 80), hsb(0, 0, 69)], 180]"; }
.art.scrollbar.is-vertical .art.thumb {
    width: 13px;
    margin-left: 2px;
    margin-right: 2px; }

.art.section {
width: inherit; }
html > body .art.section.id-buttons {
  padding: 0 10px; }
.art.section.centered, html > body .art.section.id-buttons {
  text-align: center; }

.art.section:after {
content: ".";
display: block;
height: 0px;
clear: both;
visibility: hidden;
_display: block;
zoom: 1; }

.art.form .art.section {
border-top: 1px solid #e7e7e7;
height: auto;
padding-top: 8px;
padding-bottom: 8px; }
.art.form .art.section.first {
  border-top: 0; }

.art.select {
height: 22px;
width: auto;
-art-min-width: 70px;
-art-corner-radius-top-left: 3px;
-art-corner-radius-top-right: 3px;
-art-corner-radius-bottom-left: 3px;
-art-corner-radius-bottom-right: 3px;
-art-fill-color: "[{0: hsb(0, 0, 98), 0.076: hsb(0, 0, 98), 0.0761: hsb(0, 0, 97), 1: hsb(0, 0, 79)}]";
-art-stroke-width: 1px;
-art-stroke-color: "[hsb(0, 0, 72), hsb(0, 0, 58)]"; }
.art.select > .container {
  font: bold 14px/22px Arial;
  text-shadow: 0 1px 0 #e5e5ee;
  -art-filter: dropshadow(color=#e5e5ee, offX=0, offY=1px);
  padding: 0 10px; }
.art.select.is-focused {
  -art-shadow-color: hsb(212, 58, 93);
  -art-shadow-blur: 8;
  -art-shadow-offset-y: 0;
  -art-stroke-color: hsb(212, 58, 93); }
.art.select .art.button {
  width: 22px;
  height: 22px;
  margin-top: -1px;
    -art-margin-top-margin-right: -1px;
  -art-corner-radius-top-right: inherit;
  -art-corner-radius-bottom-right: inherit;
  float: right;
  -art-glyph: ART.Glyphs.triangleDown;
  -art-glyph-scale: 0.75;
  -art-glyph-top: 8px;
  -art-glyph-left: 8px;
  -art-glyph-color: hsb(202, 48, 51); }

.art.input[type=checkbox] {
zoom: 1;
display: inline;
display: -moz-inline-box;
display: inline-block;
-art-*display: inline;
vertical-align: middle;
width: 15px;
height: 15px;
line-height: 16px;
-art-corner-radius: 3;
-art-fill-color: "[{0: hsb(202, 10.5, 98), 0.076: hsb(202, 10.5, 98), 0.0761: hsb(202, 21, 97), 1: hsb(202, 35, 79)}]";
-art-stroke-width: 1px;
-art-stroke-color: "[hsb(202, 29.75, 72), hsb(202, 40.25, 58)]";
-art-glyph-color: false; }
.art.input[type=checkbox].is-active {
  -art-fill-color: "[{0: hsb(202, 35, 79), 0.934: hsb(202, 21, 96.04), 0.935: hsb(202, 10.5, 98), 1: hsb(202, 10.5, 98)}]";
  -art-stroke-width: 1px;
  -art-stroke-color: "[hsb(202, 40.25, 58), hsb(202, 29.75, 72)]"; }
.art.input[type=checkbox].is-focused {
  -art-shadow-color: hsb(212, 58, 93);
  -art-shadow-blur: 8;
  -art-shadow-offset-y: 0;
  -art-stroke-color: hsb(212, 58, 93); }
.art.input[type=checkbox].is-checked {
  -art-glyph: ART.Glyphs.checkMark;
  -art-glyph-top: 1px;
  -art-glyph-left: 2px;
  -art-glyph-scale: 1.6;
  -art-glyph-color: hsb(201, 68, 34); }

.art.input[type="range"] {
height: 3px;
margin-top: 9px;
margin-bottom: 6px;
-art-min-width: 93px;
width: auto;
cursor: pointer;
-art-corner-radius: 1;
-art-fill-color: "[hsb(0, 0, 70), hsb(0, 0, 84)]";
-art-stroke-color: "[hsb(0, 0, 56), hsb(0, 0, 80)]";
-art-stroke-width: 1px; }
.art.input[type="range"] .art.thumb {
  height: 13px;
  width: 13px;
  margin-top: -6px;
  -art-fill-color: "[{0: hsb(202, 10.5, 98), 0.076: hsb(202, 10.5, 98), 0.0761: hsb(202, 21, 97), 1: hsb(202, 35, 79)}]";
  -art-stroke-width: 1px;
  -art-stroke-color: "[hsb(202, 29.75, 72), hsb(202, 40.25, 58)]";
  -art-corner-radius: 6;
  -art-glyph: ART.Glyphs.radio;
  -art-glyph-color: hsb(201, 56, 50);
  -art-glyph-top: 4px;
  -art-glyph-scale: 0.85;
  -art-glyph-left: 4px; }
.art.input[type="range"].is-focused .art.thumb {
  -art-shadow-color: hsb(212, 58, 93);
  -art-shadow-blur: 8;
  -art-shadow-offset-y: 0;
  -art-stroke-color: hsb(212, 58, 93); }

.art.input[type=text], .art.textarea {
height: 18px;
width: 170px; }
.art.input[type=text].is-focused, .art.textarea.is-focused {
  -art-shadow-color: hsb(212, 58, 93);
  -art-shadow-blur: 8;
  -art-shadow-offset-y: 0;
  -art-stroke-color: hsb(212, 58, 93); }

.art.window {
-art-shadow-blur: 15;
-art-shadow-offset-y: 2;
-art-shadow-color: hsb(0, 0, 20);
display: inline-block;
vertical-align: top;
width: auto;
height: auto;
-art-corner-radius-top-right: 10px;
-art-corner-radius-top-left: 10px;
font-family: Arial; }
html > body .art.window .art.id-header {
  -art-corner-radius-top-right: inherit;
  -art-corner-radius-top-left: inherit;
  -art-fill-color: "[hsb(0, 0, 92), hsb(0, 0, 76)]";
  border-bottom: 1px solid #979797;
  line-height: 24px; }
html > body .art.window .art.id-header .art.id-title {
    float: left;
    text-align: center;
    z-index: 10;
    width: 100%; }
html > body .art.window .art.id-header .art.id-title .container {
      font-size: 12px;
      line-height: 24px;
      font-weight: bold;
      text-shadow: 0 1px 0 #e5e5ee;
      -art-filter: dropshadow(color=#e5e5ee, offX=0, offY=1px); }
html > body .art.window .art.id-header .art.id-buttons {
    float: left;
    padding: 0 10px;
    z-index: 20;
    line-height: 25px; }
html > body .art.window .art.id-header .art.id-buttons.is-hover .art.button {
      -art-fill-color: "[hsb(0, 0, 54), hsb(0, 0, 52)]"; }
html > body .art.window .art.id-header .art.id-buttons .art.button {
      zoom: 1;
      display: inline;
      display: -moz-inline-box;
      display: inline-block;
      -art-*display: inline;
      margin-right: 4px;
      height: 12px;
      width: 12px;
      margin-top: 6px;
      -art-corner-radius: 6px;
      vertical-align: top;
      -art-fill-color: "[hsb(0, 0, 54), hsb(0, 0, 72)]";
      -art-shadow-offset-y: 1px;
      -art-stroke-color: "[hsb(0, 0, 52), hsb(0, 0, 72)]";
      -art-shadow-color: hsb(0, 0, 96);
      -art-glyph-color: hsb(0, 0, 100, 0.8);
      -art-glyph-scale: 1;
      -art-glyph-top: 0;
      -art-glyph-left: 0; }
html > body .art.window .art.id-header .art.id-buttons .art.button.id-close {
        -art-glyph: ART.Glyphs.smallCross; }
html > body .art.window .art.id-header .art.id-buttons .art.button.id-minimize {
        -art-glyph: ART.Glyphs.smallMinus; }
html > body .art.window .art.id-header .art.id-buttons .art.button.id-maximize {
        -art-glyph: ART.Glyphs.smallPlus; }
html > body .art.window .art.id-header .art.id-toggler {
    float: right; }
html > body .art.window .art.id-content {
  background: white; }
html > body .art.window .art.id-handle {
  -art-glyph: ART.Glyphs.resize; }

svg {
display: block; }

v\:* {
background: transparent; }

.art.* {
-art-shadow-blur: 0; }

.art:after {
content: ".";
display: block;
height: 0px;
clear: both;
visibility: hidden;
_display: block;
zoom: 1; }

.art.window svg ~ *, .art.window svg .container {
position: relative; }
