.art.form.two-column .art.label, .art.form.two-column .art.input {
float: left; }

.art.scrollbar {
height: 16px;
width: 16px; }
.art.scrollbar.is-horizontal .art.track {
  height: 14px;
  margin-left: 16px; }
.art.scrollbar.is-vertical .art.track {
  width: 14px;
  margin-top: 16px; }
.art.scrollbar .art.track .art.thumb {
  width: 12px;
  height: 12px; }

.art.section {
width: inherit; }

.art.section:after {
content: ".";
display: block;
height: 0px;
clear: both;
visibility: hidden;
_display: block;
zoom: 1; }

.art.select {
height: 18px;
width: auto; }
.art.select .art.button {
  width: 18px;
  height: 18px; }

.art.input, .art.textarea {
height: 18px;
width: 170px; }

svg {
display: block; }

v\:* {
background: transparent; }

.art.* {
-art-shadow-blur: 0; }

.art:after {
content: ".";
display: block;
height: 0px;
clear: both;
visibility: hidden;
_display: block;
zoom: 1; }
