html > body .lsd.input[type=range].id-tint {
-lsd-fill-color: "[{0: hsb(301, 56, 62), 0.5: hsb(120, 5, 53), 1: hsb(120, 49, 57)}, 0]"; }

.lsd.label {
line-height: 16px; }

.lsd.button {
zoom: 1;
display: inline;
display: -moz-inline-box;
display: inline-block;
-lsd-*display: inline;
cursor: default;
-lsd-fill-color: hsb(0, 0, 22);
-lsd-reflection-color: "[hsb(0, 0, 100, 0.23), hsb(0, 0, 100, 0)]"; }
.lsd.button.is-active {
  -lsd-reflection-color: "[hsb(0, 0, 100, 0.2), hsb(0, 0, 100, 0.25)]"; }

.lsd.button.is-icon {
width: 16px;
height: 16px; }

.lsd.button.is-text {
-lsd-stroke-width: 1px;
-lsd-stroke-color: "[hsb(0, 0, 57), hsb(0, 0, 33)]";
letter-spacing: 0.02em;
width: auto;
-lsd-corner-radius-top-left: 3px;
-lsd-corner-radius-top-right: 3px;
-lsd-corner-radius-bottom-left: 3px;
-lsd-corner-radius-bottom-right: 3px; }
.lsd.button.is-text.is-active {
  -lsd-stroke-color: "[hsb(0, 0, 50), hsb(0, 0, 20)]"; }
.lsd.button.is-text .container {
  line-height: 16px;
  font-family: Helvetica;
  font-size: 11px;
  color: white; }

html > body .lsd.id-buttons .lsd.button {
-lsd-corner-radius-top-left: 8px;
-lsd-corner-radius-top-right: 8px;
-lsd-corner-radius-bottom-left: 8px;
-lsd-corner-radius-bottom-right: 8px;
width: 62px;
text-align: center; }

.lsd.form.two-column .lsd.label, .lsd.form.two-column .lsd.input[type=range], .lsd.form.two-column .lsd.input[type=text], .lsd.form.two-column .lsd.select, .lsd.form.two-column .lsd.textarea {
float: left; }
.lsd.form.two-column .lsd.label {
float: left;
clear: both;
text-align: right;
margin-right: 16px;
width: 85px;
text-shadow: 0 1px 1px black;
-lsd-filter: dropshadow(color=black, offX=1px, offY=1px);
color: #dbdbdb; }
.lsd.form.two-column .lsd.label .container {
  line-height: 18px; }
.lsd.form.two-column .lsd.label.inline {
  float: none;
  clear: none;
  text-align: left;
  zoom: 1;
  display: inline;
  display: -moz-inline-box;
  display: inline-block;
  -lsd-*display: inline;
  vertical-align: middle;
  margin-right: 0;
  margin-left: 5px;
  width: auto; }
.lsd.form.two-column .lsd.label.inline .container {
    line-height: 16px; }

.lsd.menu[type=toolbar] .lsd.button {
height: 16px; }
.lsd.menu[type=toolbar] .lsd.button > .container {
  padding: 0 0.3em; }
.lsd.menu[type=toolbar].segmented .lsd.button {
-lsd-corner-radius-top-left: 3px;
-lsd-corner-radius-top-right: 3px;
-lsd-corner-radius-bottom-left: 3px;
-lsd-corner-radius-bottom-right: 3px; }
.lsd.menu[type=toolbar].segmented .lsd.button.first {
  -lsd-corner-radius-top-left: 3px;
  -lsd-corner-radius-bottom-left: 3px; }
.lsd.menu[type=toolbar].segmented .lsd.button.last {
  -lsd-corner-radius-top-right: 3px;
  -lsd-corner-radius-bottom-right: 3px; }

.lsd.menu[type=context] {
-lsd-stroke-width: 1px;
-lsd-stroke-color: "[hsb(0, 0, 57), hsb(0, 0, 33)]";
-lsd-fill-color: hsb(0, 0, 22, 0.7);
-lsd-reflection-color: "[hsb(0, 0, 100, 0.20), hsb(0, 0, 100, 0)]";
z-index: 250;
padding-top: 5px;
padding-bottom: 5px;
-lsd-corner-radius-top-left: 3px;
-lsd-corner-radius-top-right: 3px;
-lsd-corner-radius-bottom-left: 3px;
-lsd-corner-radius-bottom-right: 3px;
position: absolute; }
.lsd.menu[type=context].is-active {
  -lsd-stroke-color: "[hsb(0, 0, 50), hsb(0, 0, 20)]"; }
.lsd.menu[type=context] .lsd.option > .container {
  color: #eaeaea;
  font-size: 11px;
  padding: 0 5px;
  line-height: 16px; }
.lsd.menu[type=context] .lsd.option.is-chosen > .container, .lsd.menu[type=context] .lsd.option.is-selected > .container {
  color: white;
  background: #cccccc; }

.lsd.scrollbar {
cursor: pointer;
-lsd-stroke-color: hsb(0, 0, 0, 0.3);
-lsd-glyph-color: hsb(82, 0, 100, 0.5);
-lsd-fill-color: hsb(0, 0, 40, 0.5);
-lsd-corner-radius: 6; }
.lsd.scrollbar .lsd.button {
  display: none; }
.lsd.scrollbar.is-horizontal .lsd.track {
  height: 14px; }
.lsd.scrollbar.is-vertical {
  width: 12px; }
.lsd.scrollbar.is-vertical .lsd.track {
    width: 10px; }
.lsd.scrollbar.is-vertical {
  height: 16px;
  top: 0;
  right: 0; }
.lsd.scrollbar.is-horizontal {
  bottom: 0;
  left: 0; }
.lsd.scrollbar .lsd.track .lsd.thumb {
  -lsd-fill-color: hsb(0, 0, 100, 0.3);
  width: 12px;
  height: 12px;
  -lsd-corner-radius: 6; }

.lsd.section {
width: inherit; }
html > body .lsd.section.id-buttons {
  padding: 0 10px; }
.lsd.section.centered {
  text-align: center; }

.lsd.form .lsd.section {
border-top: 1px solid rgba(103, 103, 103, 0.5);
border-bottom: 1px solid rgba(36, 36, 36, 0.5);
height: auto;
padding-top: 8px;
padding-bottom: 8px; }
.lsd.form .lsd.section.first {
  border-top: 0; }
.lsd.form .lsd.section.last {
  border-bottom: 0; }
html > body .lsd.form .lsd.section.id-tos {
  padding-top: 0;
  padding-bottom: 0;
  -lsd-min-height: 50px;
  -lsd-overflow: hidden;
  border-bottom: 0;
  border-top: 0; }

.lsd.section:after {
content: ".";
display: block;
height: 0px;
clear: both;
visibility: hidden;
_display: block;
zoom: 1; }

.lsd.select {
height: 16px;
width: auto;
-lsd-min-width: 70px;
-lsd-stroke-width: 1px;
-lsd-stroke-color: "[hsb(0, 0, 57), hsb(0, 0, 33)]";
-lsd-fill-color: hsb(0, 0, 22, 0.7);
-lsd-reflection-color: "[hsb(0, 0, 100, 0.20), hsb(0, 0, 100, 0)]";
-lsd-corner-radius-top-left: 3px;
-lsd-corner-radius-top-right: 3px;
-lsd-corner-radius-bottom-left: 3px;
-lsd-corner-radius-bottom-right: 3px;
text-align: left; }
.lsd.select.is-active {
  -lsd-stroke-color: "[hsb(0, 0, 50), hsb(0, 0, 20)]"; }
.lsd.select > .container {
  font-size: 11px;
  line-height: 16px;
  padding: 0 5px;
  color: #eaeaea; }
.lsd.select .lsd.button {
  -lsd-background-color: false;
  -lsd-reflection-color: false;
  -lsd-fill-color: false;
  -lsd-corner-radius-top-right: inherit;
  -lsd-corner-radius-bottom-right: inherit;
  float: right;
  width: 16px;
  height: 16px;
  -lsd-glyph: ART.Glyphs.triangleDown;
  -lsd-glyph-scale: 0.5;
  -lsd-glyph-top: 6px;
  -lsd-glyph-left: 6px;
  -lsd-glyph-color: hsb(0, 0, 100); }

.lsd.window {
display: inline-block;
vertical-align: top;
width: auto;
-lsd-min-width: 200px;
height: auto;
-lsd-corner-radius-top-left: 7px;
-lsd-corner-radius-top-right: 7px;
-lsd-corner-radius-bottom-left: 7px;
-lsd-corner-radius-bottom-right: 7px;
-lsd-stroke-color: "[{0: hsb(60, 0, 63), 0.05: hsb(0, 0, 30), 0.95: hsb(0, 0, 30), 1: hsb(0, 0, 28)}]";
-lsd-stroke-width: 1px;
-lsd-shadow-blur: 10px;
-lsd-shadow-offset-y: 2px;
-lsd-shadow-quality: best;
-lsd-shadow-color: hsb(0, 0, 0, 0.5);
line-height: 16px;
font-family: Helvetica;
font-size: 11px; }
.lsd.window[draggable] {
  position: absolute; }
.lsd.window .lsd.input, .lsd.window .lsd.textarea, .lsd.window .lsd.button, .lsd.window .lsd.select {
  -lsd-shadow-blur: 1px;
  -lsd-shadow-offset-y: 1px;
  -lsd-shadow-color: hsb(0, 0, 0); }
.lsd.window .lsd.input[type=text].is-focused, .lsd.window .lsd.input[type=checkbox].is-focused, .lsd.window .lsd.input[type=range].is-focused, .lsd.window .lsd.select.is-focused {
  -lsd-shadow-color: hsb(212, 58, 93);
  -lsd-shadow-blur: 5;
  -lsd-shadow-offset-y: 0;
  -lsd-stroke-color: hsb(212, 58, 93); }
.lsd.window .lsd.select .lsd.button {
  -lsd-shadow-color: false; }
html > body .lsd.window.is-focused .lsd.id-header {
  -lsd-reflection-color: "[{0: hsb(0, 0, 75, 0.20), 0.5: hsb(0, 0, 75, 0.25), 0.55: hsb(0, 0, 0, 0), 1: hsb(0, 0, 0, 0)}]"; }
html > body .lsd.window .lsd.id-header {
  -lsd-corner-radius-top-left: inherit;
  -lsd-corner-radius-top-right: inherit;
  -lsd-background-color: hsb(216, 0, 38, 0.8);
  height: 18px;
  line-height: 18px; }
html > body .lsd.window .lsd.id-header .lsd.id-title {
    float: left;
    width: 100%;
    font-size: 11.5px;
    z-index: 10; }
html > body .lsd.window .lsd.id-header .lsd.id-title .container {
      padding-top: 2px;
      line-height: 16px;
      font-family: Helvetica;
      color: white;
      text-align: center; }
html > body .lsd.window .lsd.id-header .lsd.id-buttons {
    float: left;
    padding: 0 4px;
    z-index: 20; }
html > body .lsd.window .lsd.id-header .lsd.id-buttons .lsd.button {
      zoom: 1;
      display: inline;
      display: -moz-inline-box;
      display: inline-block;
      -lsd-*display: inline;
      margin-top: 2px;
      margin-right: 5px;
      height: 13px;
      width: 13px;
      -lsd-corner-radius: 6px;
      -lsd-background-color: hsb(216, 0, 100, 0.75);
      -lsd-glyph-color: hsb(0, 0, 0, 0.6);
      -lsd-glyph-scale: 1.25;
      -lsd-glyph-top: -1px;
      -lsd-glyph-left: -1px; }
html > body .lsd.window .lsd.id-header .lsd.id-buttons .lsd.button.id-close {
        -lsd-glyph: ART.Glyphs.smallCross; }
html > body .lsd.window .lsd.id-content {
  -lsd-corner-radius-bottom-left: inherit;
  -lsd-corner-radius-bottom-right: inherit;
  -lsd-background-color: hsb(0, 0, 17, 0.55); }
html > body .lsd.window .lsd.id-content .lsd.form {
    padding: 10px 7px; }
html > body .lsd.window .lsd.id-footer {
  display: none; }
html > body .lsd.window .lsd.id-handle {
  -lsd-glyph: ART.Glyphs.resize;
  z-index: 10;
  position: absolute;
  -lsd-glyph-color: hsb(0, 0, 50, 0.8);
  -lsd-glyph-top: 2;
  -lsd-glyph-left: 0;
  width: 13px;
  height: 15px;
  -lsd-glyph-scale: 0.75;
  -lsd-shadow-color: hsb(0, 0, 0, 0.4);
  float: right;
  cursor: se-resize; }
html > body .lsd.window .lsd.id-handle.is-active {
    -lsd-glyph-color: hsb(0, 0, 100, 0.7);
    -lsd-shadow-color: hsb(0, 0, 0, 0.6); }

.lsd.input[type=checkbox] {
zoom: 1;
display: inline;
display: -moz-inline-box;
display: inline-block;
-lsd-*display: inline;
vertical-align: middle;
width: 10px;
height: 10px;
line-height: 16px;
-lsd-corner-radius: 3;
-lsd-stroke-width: 1px;
-lsd-stroke-color: "[hsb(0, 0, 57), hsb(0, 0, 33)]";
-lsd-fill-color: hsb(0, 0, 22);
-lsd-reflection-color: "[hsb(0, 0, 100, 0.23), hsb(0, 0, 100, 0)]";
-lsd-glyph-color: false; }
.lsd.input[type=checkbox].is-active {
  -lsd-stroke-color: "[hsb(0, 0, 50), hsb(0, 0, 20)]"; }
.lsd.input[type=checkbox].is-active {
  -lsd-reflection-color: "[hsb(0, 0, 100, 0.2), hsb(0, 0, 100, 0.25)]"; }
.lsd.input[type=checkbox].is-checked {
  -lsd-glyph: ART.Glyphs.checkMark;
  -lsd-glyph-top: 0px;
  -lsd-glyph-left: 1px;
  -lsd-glyph-scale: 1.2;
  -lsd-glyph-color: hsb(0, 0, 100); }

.lsd.input[type="range"] {
height: 3px;
margin-top: 6px;
margin-bottom: 6px;
-lsd-min-width: 70px;
width: auto;
cursor: pointer;
-lsd-corner-radius: 1;
-lsd-stroke-width: 1px;
-lsd-stroke-color: "[hsb(0, 0, 57), hsb(0, 0, 33)]";
-lsd-stroke-color: "[hsb(0, 0, 5, 0.5), hsb(0, 0, 45, 0.5)]"; }
.lsd.input[type="range"].is-active {
  -lsd-stroke-color: "[hsb(0, 0, 50), hsb(0, 0, 20)]"; }
.lsd.input[type="range"] .lsd.thumb {
  height: 7px;
  width: 8px;
  margin-top: -3px;
  -lsd-fill-color: hsb(0, 0, 22);
  -lsd-reflection-color: "[hsb(0, 0, 100, 0.23), hsb(0, 0, 100, 0)]";
  -lsd-stroke-width: 1px;
  -lsd-stroke-color: "[hsb(0, 0, 57), hsb(0, 0, 33)]";
  -lsd-arrow-width: 6;
  -lsd-arrow-height: 4;
  -lsd-corner-radius: 1;
  -lsd-arrow-side: bottom;
  -lsd-arrow-position: 5;
  -lsd-fill-color: hsb(0, 0, 41);
  -lsd-reflection-color: "[hsb(0, 0, 100, 0.2), hsb(0, 0, 100, 0)]";
  -lsd-stroke-color: "[{0: hsb(0, 0, 79), 0.1: hsb(0, 0, 60), 1: hsb(0, 0, 38)}]"; }
.lsd.input[type="range"] .lsd.thumb.is-active {
    -lsd-reflection-color: "[hsb(0, 0, 100, 0.2), hsb(0, 0, 100, 0.25)]"; }
.lsd.input[type="range"] .lsd.thumb.is-active {
    -lsd-stroke-color: "[hsb(0, 0, 50), hsb(0, 0, 20)]"; }

.lsd.input[type=text], .lsd.textarea {
zoom: 1;
display: inline;
display: -moz-inline-box;
display: inline-block;
-lsd-*display: inline; }

.lsd.input[type=text], .lsd.textarea {
height: 16px;
width: auto; }

.lsd.input[type=text] {
-lsd-stroke-width: 1px;
-lsd-stroke-color: "[hsb(0, 0, 57), hsb(0, 0, 33)]";
-lsd-fill-color: hsb(0, 0, 22, 0.7);
-lsd-reflection-color: "[hsb(0, 0, 100, 0.20), hsb(0, 0, 100, 0)]";
width: 70px; }
.lsd.input[type=text].is-active {
  -lsd-stroke-color: "[hsb(0, 0, 50), hsb(0, 0, 20)]"; }

.lsd.input input, .lsd.textarea textarea {
border: 0;
line-height: 12px;
font-size: 11px;
padding-top: 3px;
padding-left: 4px;
font-family: Helvetica;
background: none;
display: block;
outline: none;
color: white; }

.lsd.input.round {
-lsd-corner-radius: 5px; }

svg {
display: block; }

v\:* {
background: transparent; }

.lsd.* {
-lsd-shadow-blur: 0; }

.lsd:after {
content: ".";
display: block;
height: 0px;
clear: both;
visibility: hidden;
_display: block;
zoom: 1; }

.lsd {
position: relative; }
.lsd > svg {
  position: absolute;
  top: 0;
  left: 0; }
.lsd > svg ~ * {
    position: relative; }
